@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:300,400,600,700');
@import url('../fonts/font-awesome/css/font-awesome.min.css');

* {
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: "Source Sans Pro", sans-serif;
}

body,
html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    font-size: 1.5rem;
    font-family: "Source Sans Pro", sans-serif;
}

input {
    color: rgba(0, 0, 0, 0.6);

}

.container {
    width: 1170px;
    margin: 0 auto;
}

.top-site {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/img-bg-top) no-repeat center / cover;
    height: 496px;
}

header .container {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}

.logo {
    height: 33px;
}

/* Nav CSS-------------------------- */

.nav {
    padding: 0 15px;
}

.nav ul {
    display: flex;
}

.nav .main-menu {
    position: relative;
}

.nav .main-menu:hover .sub-menu {
    /* display: flex; */
    transform: scaleY(1);
    opacity: 1;
}

.nav .main-menu>a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 6px 25px 20px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.11rem;
    line-height: 2.1rem;
}


.nav .sub-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 47px;
    left: 0;
    transform: scaleY(0);
    transition: all .4s;
    transform-origin: top left;
    opacity: 0;
}



.nav .sub-menu li {
    height: 46px;
    min-width: 220px;
    background-color: #fff;
}

.nav .sub-menu li:not(li:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.05)
}

.nav .sub-menu a {
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.6rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    padding: 0 0 0 25px;
    line-height: 46px;
    text-decoration: none;
    transition: all 0.3s ease-in-out
}

.nav .sub-menu li {
    transition: all 0.3s ease-in-out
}

.nav .sub-menu li:hover {
    background-color: #b80257;
}

.nav .sub-menu li:hover a {
    color: #fff;
    translate: 4px 0;
}






/* -------------------------------------------------------- */

.left-wrapper {
    display: flex;
}



header .search {
    font-size: 18px;
    padding-top: 6px;
    margin-left: 8px;
    margin-right: 28px;
    cursor: pointer;
    color: #fff;
}

.actions {
    position: relative;
}

.actions .search-input {
    display: none;
    display: none;
    align-items: center;
    padding: 5px;
    position: absolute;
    width: 280px;
    height: 55px;
    background-color: #fff;
    top: 32px;
    right: 20px;
}

.actions .search-hidden:checked+.search-input {
    display: flex;
}

.actions .search-input input {
    flex: 1;
    outline: none;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #ececec;
}

.actions input {
    padding: 10px;
}

.actions .search-input div {
    width: 48px;
    height: 48px;
    background-color: #b80257;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.actions .search-input div:hover {
    cursor: pointer;
}



.cart {
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}

.breadcrumb {
    margin-top: 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.breadcrumb h1 {
    margin-bottom: 10px;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.5rem;
    color: #fff;
}

.breadcrumb p {
    color: rgba(255, 255, 255, 0.8);
}

.breadcrumb a {
    text-decoration: none;
    color: #d8d9d9;
    transition: all .3s ease-in-out;
}

.breadcrumb a:hover {
    color: #783df0;
}



/* side-bar */

.search-icon {
    color: rgba(0, 0, 0, 0.5);
    margin-right: 22px;
}

.side-bar .search {
    display: flex;
    align-items: center;
    height: 43px;
    width: 100%;
    border-radius: 999px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    margin-bottom: 34px;
}

.side-bar .search input {
    font-size: 1.5rem;
    font-family: "Source Sans Pro", sans-serif;
    outline: none;
    border: none;
    margin-left: 20px;
    flex: 1;
}



.side-bar .title {
    font-family: "PT Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

.side-bar ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.side-bar li {
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.side-bar ul a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    height: 41px;
    padding-left: 25px;
    transition: all .3s ease-in-out;
}

.side-bar li:hover a {
    color: #783df0;
    translate: 10px 0;
    /* padding-left: 10px; */
}




/* -----------------Content--------------- */

main {
    margin-top: 110px;
    display: flex;
    gap: 30px;
}

.side-bar {
    width: 270px;
}


.content {
    flex: 1;
}

.course-menu ul {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.course-menu ul a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0px 14px 10px;
    margin: 0px 9px;
    border-radius: 999px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: all .3s ease-in-out;
}


.course-menu ul a:hover {
    background-color: #783df0;
    color: #fff;
}

.course-menu ul a.active {
    background-color: #783df0;
    color: #fff;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* courses-item CSS */

.courses-item {
    width: calc((100% - 60px) / 3);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.courses .flash::before {
    /* content: url(../img/img-flash.svg); */
    background-image: url(../img/img-flash.svg);
    background-repeat: no-repeat;
    background-position: 54px 71px;
    background-size: 15px;
    content: "";
    display: block;
    background-color: #b80257;
    font-size: 24px;
    color: #fff;
    width: 140px;
    height: 100px;
    position: absolute;
    top: -52px;
    right: -77px;
    z-index: 99;
    transform: rotate(35deg);
}


.courses-item .courses-img {
    overflow: hidden;
    width: 100%;
    height: 217px;
    background-image: -webkit-linear-gradient(90deg, rgb(40, 172, 225) 12%, rgb(81, 204, 231) 50%, rgb(122, 235, 236) 91%);
    ;
}

.courses-item img {
    width: 100%;
    height: 217px;
    object-fit: cover;
    transition: all 0.6s ease-in-out;
}

.courses-item:hover img {
    scale: 1.1;
    opacity: 0.8;
}

.courses-item .course-detail {
    padding: 15px 20px;
    border-style: solid;
    border-color: #eeeeee;
    border-width: 0px 0.8px 0.8px 0.8px;
}

.course-detail h2 {
    font-size: 1.8rem;
    color: #464646;
    line-height: 2.4rem;
    transition: color 0.5s ease;
}

.courses-item:hover h2 {
    color: #b80257;
    cursor: pointer;
}

.course-detail .desc {
    line-height: 2.2rem;
    margin: 20px 0px;
}

.clearfix {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.6);
}

.clearfix .teacher {
    display: flex;
    align-items: center;
    gap: 10px
}

.clearfix .quantity {
    display: flex;
    gap: 8px;
}



.clearfix .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}



.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 32px;
    line-height: 32px;
    padding: 0px 14px 0px;
    border-radius: 999px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #b80257;
}

.price .button {
    transition: all .3s ease-in-out;
    position: relative;
}

.price .button::before {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    transition: all .3s;
}

.price .button:hover {
    translate: 0 -5px;
}

.price .button:hover::before {
    opacity: 1;
    top: 115%;
}

.courses .free {
    background-color: #783df0;
}


/* ------------------------------------------ */
.pagination {
    display: flex;
    gap: 8px;
    margin-top: 45px;
    margin-bottom: 100px;
}

.pagination .button {
    margin-left: 10px;
    background-color: #783df0;
    border-radius: 8px;
    width: 58px;
}

.pagination a:not(.button) {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.pagination a:not(.button):hover {
    color: #783df0 !important;
    border-color: #783df0 !important;
}

.pagination .active {
    color: #783df0 !important;
    border-color: #783df0 !important;
}

/* Footer */

footer {
    background-color: #151515;
    padding-top: 80px;
    padding-bottom: 160px;
    color: rgba(255, 255, 255, 0.6);
}

footer .desc {
    margin: 20px 0px;
    line-height: 2.2rem;
    font-size: 1.4rem;
}

footer .desc+p {
    font-size: 1.4rem;
}

footer .install {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container {
    display: flex;
    gap: 30px;
}

footer .colum {
    width: 170px;
}

footer .title {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin: 8px 0 25px 0;
}

footer .colum a {
    display: flex;
    align-items: center;
    height: 30px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

footer .colum a:hover {
    color: #b80257;
}

footer .colum:last-child,
footer .colum:first-child {
    width: 270px;
}

footer input {
    height: 40px;
    width: 100%;
    padding: 0px 20px;
    margin: 25px 0px 10px;
    outline: none;
    border-radius: 999px;
    color: rgba(255, 255, 255, 0.6);
    background: #272727;
    border: none;
}

footer .button {
    position: relative;
    color: #fff !important;
    height: 40px !important;
    width: 95px;
    transition: all 0.3s ease-in-out
}

footer .button::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 999px;
    height: 40px;
    width: 95px;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    scale: 0;
}

footer .button span {
    position: relative;
    z-index: 1;
}

.lh-24 {
    line-height: 2.4rem;
}

footer .button:hover {
    color: #b80257 !important;
}

footer .button:hover::after {
    scale: 1;
}






/* FIX POSITION--------------------------- */

.go-to-top {
    width: 40px;
    height: 40px;
    background-color: #b80257;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    position: fixed;
    bottom: 5px;
    right: 5px;
}